<div class="container">
  <div class="mt-16">
    <router-outlet></router-outlet>
  </div>
  <div class="bg-black text-white px-32 py-16 mt-16">
    <div class="footer-main grid grid-cols-3 gap-4">
      <div class="footer-logo">
        <img src="" alt="" />
        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu
          erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus,
          metus.</p>
      </div>
      <div class="footer-reach">
        <div class="footer-reach-title">
          <span>REACH US</span>
        </div>
        <div class="footer-teach-conten">
          <div class="footer-icon">
          <div class="footer-text">
            <a href>HeraKorean@gmail.com</a> <br />
            <a href>(091) 385-1490</a>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <span>INFO LINK</span> 
        <a href>About Hera</a> 
        <a href>How to shop Hera</a>
        <a href>Contact us</a>
      </div>
      <div class="footer-help">
        <span>HELP DESH</span> 
        <a href>View Cart</a> 
        <a href>My Wishlist</a> 
        <a href>Help</a> 
      </div>
    </div>
    <div class="footer-button">
      <p>Copyright © 2019 Molla Store. All Rights Reserved.</p>
    </div>
  </div>
